body{
    background-color:#31393C;
    color:#E0D8DE;
}
h1{
    text-align:center;
    font-size:4rem;
}
nav ul{
    display:flex;
    flex-direction:row;
}
nav ul li{
    margin:10px;
    cursor:pointer;
}
.drink-container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.run-animation{
    animation: rotate 6s linear infinite ,moveup 10s linear forwards
}
.gradient{
    width:100%;
    height:100%;
    border-radius:40%;
    position:absolute;
    overflow:hidden;
    z-index:-1;
    background: rgb(208,251,44);
    background: -moz-radial-gradient(circle at 100% 50%, rgba(208,251,44,1) 0%, rgba(114,255,27,1) 55%, rgba(147,255,150,1) 92%, rgba(205,235,220,1) 100%);
    background: -webkit-radial-gradient(circle at 100% 50%, rgba(208,251,44,1) 0%, rgba(114,255,27,1) 55%, rgba(147,255,150,1) 92%, rgba(205,235,220,1) 100%);
    background: radial-gradient(circle at 100% 50%, rgba(208,251,44,1) 0%, rgba(114,255,27,1) 55%, rgba(147,255,150,1) 92%, rgba(205,235,220,1) 100%);
}
.drink-image{
    height:550px;
    width:550px;
    display:block;
    position:relative;
    background-size:contain;
    background-repeat:no-repeat;
    overflow:hidden;
}
@keyframes rotate{
    0%{
        transform:rotateZ(0);
    }
    100%{
        transform:rotateZ(360deg);
    }
}
@keyframes moveup{
    0%{
        top:110%;
    }
    100%{
        top:32%;
    }
}

.drink-recipe{
    background-color:#F3CA40;
    width:550px;
    height:550px;
    border-radius:10px;

}