body{
    background-color:#31393C;
    color:#E0D8DE;
}
h1{
    text-align:center;
    font-size:4rem;
}
nav ul{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
nav ul li{
    margin:10px;
    cursor:pointer;
    font-size:2rem;
    list-style:none;
}
.drink-container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.run-animation{
    animation: rotate 6s linear infinite ,moveup 10s linear forwards
}
.gradient{
    width:100%;
    height:100%;
    border-radius:40%;
    position:absolute;
    overflow:hidden;
    z-index:-1;
}
.drink-image{
    height:550px;
    width:550px;
    display:block;
    position:relative;
    background-size:contain;
    background-repeat:no-repeat;
    overflow:hidden;
}
@keyframes rotate{
    0%{
        transform:rotateZ(0);
    }
    100%{
        transform:rotateZ(360deg);
    }
}
@keyframes moveup{
    0%{
        top:100%;
    }
    100%{
        top:32%;
    }
}

@keyframes moveupp{
    0%{
        top:75%;
    }
    100%{
        top:30%;
    }
}

.drink-recipe{
    background-color:#31393C;
    width:650px;
    height:550px;
    border-radius:10px;
    font-size:1.5rem;
    color:#31393C;
    
}
.drink-name{
margin:10px;
font-size:3rem;
}
.drink-ingredients{
margin:10px;
}
.drink-rec{
margin:10px;
}